<h1>Resumator</h1>

<p>This is resumator.</p>
<p>First visit?  Then you might want to <a href="<%= new_job_path %>">add some of your experience</a>.</p>
<p>Then, <a href="<%= jobs_path %>">view your experience</a> or <a href="<%= new_resume_path %>">create a resume</a>.
