<h1>Linkedin</h1>
<p ng-controller="LinkedInController" id="yolo">
<button ng-click="import()">Import</button> your resume from linked in.
<script type="in/Login">
  Hello, <?js= firstName ?> <?js= lastName ?>.
</script>
</p>
