<h1>Linkedin</h1>
<div ng-controller="LinkedInController" id="yolo">
  Import your resume from linked in.
  <script type="in/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>

  <h3>Raw</h3>
  <pre>{{ linkedInData }}</pre>

  <h3>Jobs</h3>
  <pre>{{ jobs }}</pre>
</div>
