<script>
  window.resume_id = <%= @resume.id %>;
</script>

<div class="row full-size">
  <div ng-controller="ResumeUpdaterController" class="one third padded">
    <div class="row">
      <div class="one half">
        <h1><input type="text" ng-model="resume.name" ng-change="updateServer()" /></h1>
      </div>
    </div>
    <h1>Jobs</h1>
    <ul>
      <li ng-repeat="job in jobs">
      <label>
        <input type="checkbox" ng-model="job.selected" ng-change="updateServer()" />
        {{ job.title }} at {{ job.place }}
      </label>
      </li>
    </ul>

    <h1>Education</h1>
    <ul>
      <li ng-repeat="education in educations">
      <label>
        <input type="checkbox" ng-model="education.selected" ng-change="updateServer()" />
        {{ education.title }} at {{ education.place }}
      </label>
      </li>
    </ul>
  </div>

  <div ng-controller="ResumeHtmlViewerController" class="one third padded">
    <h1>Resume</h1>
    <div ng-if='educations.length > 0'>
      <h2>Education</h2>
      <div ng-repeat="education in educations">
        <h3>{{ education.title }} from {{ education.place }} ({{ education.gpa }} GPA)</h3>
        <h4>{{ education.obtained_at | date:'MMMM yyyy' }}</h4>
        <div ng-bind-html="education.description.html"></div>
      </div>
    </div>

    <div ng-if='jobs.length > 0'>
      <h2>Experience</h2>
      <div ng-repeat="job in jobs">
        <h3>{{ job.title }} at {{ job.place }}</h3>
        <h4>{{ job.started | date:'MMMM yyyy' }} &mdash; {{ job.ended | date:'MMMM yyyy' }}</h4>
        <div ng-bind-html="job.description.html"></div>
      </div>
    </div>
  </div>

  <div ng-controller="ResumePdfViewerController" class="one third full-size">
    <object data="{{ pdfUrl }}" type="application/pdf" class="full-size">
      <embed src="{{ pdfUrl }}" type="application/pdf" class="full-size"/>
    </object>
  </div>
</div>
